<div class="tab-container">
	<div class="tablinks-wrap">
		<button class="tablink tablink-city" id="tablink-city-open" onclick="openTab(event, 'London', 'tabcontent-city', 'tablink-city')">London</button>
		<button class="tablink tablink-city" onclick="openTab(event, 'Paris', 'tabcontent-city', 'tablink-city')">Paris</button>
		<button class="tablink tablink-city" onclick="openTab(event, 'Tokyo', 'tabcontent-city', 'tablink-city')">Tokyo</button>
	</div>
	<div class="tabcontent-wrap">
		<div id="London" class="tabcontent tabcontent-city">
			<h3>London</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, veniam.</p>
		</div>
		<div id="Paris" class="tabcontent tabcontent-city">
			<h3>Paris</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, veritatis.</p>
		</div>
		<div id="Tokyo" class="tabcontent tabcontent-city">
			<h3>Tokyo</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, dignissimos!</p>
		</div>
	</div>
</div>