.tablinks-wrap{
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}
.tablink{
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	&:hover {
		background-color: #ddd;
	}
	&.active {
		background-color: #ccc;
	}
}
.tabcontent {
	display: none;
	padding: 20px 10px;
	border: 1px solid #ccc;
	border-top: none;
}
.tabcontent {
	transform-origin: top center;
	animation: fadeEffect .5s, rotateEffect .8s;
	@include r(768){
		animation: fadeEffect .5s;
	}
}

@keyframes fadeEffect {
	from {
		opacity: .5;
	}
	to {
		opacity: 1;
	}
}
@keyframes rotateEffect {
	from {
		transform: rotateX(-20deg);
	}
	to {
		transform: rotateX(0deg);
	}
}
.tabcontent-wrap{
	perspective: 600px;
}