body{
	min-width: 300px;
	position: relative;
	overflow-x: hidden;
	opacity: 1;
}
html, body{
	height: 100%;
}

// FORMS
textarea{
	resize: none;
}
input,
textarea,
select {
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: 1rem;
	line-height: 1rem;
	margin: 0;
	font-family: $default-font;
	outline: none;
	vertical-align: top;
	color: $input-color;
	transition: $default-transition;
	border-radius: $input-border-radius;
	border: 1px solid $input-color;
}
// States
input,
textarea,
select {
    &:focus {
    	outline: none;
    	color: $input-color-focus;
    	border: 1px solid $input-color-focus;
    }
    &:disabled,
    &.disabled {
    	resize: none;
    	cursor: default;
    	font-style: italic;
	}
}
input[type="file"] {
    width: auto;
    border: none;
    padding: 0;
    height: auto;
    background: none;
    box-shadow: none;
    display: inline-block;
}
input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0;
}
