html, body{
	overflow-x: hidden;
	min-height: 100%;
}
html{
	font-size: 15px;
	line-height: 1.5;
	font-family: $default-font;
	background-color: $bg-color;
	color: $text-color;
}
body{
	min-width: 300px;
	position: relative;
}
*{
	box-sizing: border-box;
}
//Selection
*::selection{
	background-color: $main-color;
	color: #fff;
}
/*
================================================================================
|                                TYPOGRAPHY                                    |
================================================================================
*/
@import "_typo";
/*
================================================================================
|                                      GRID                                    |
================================================================================
*/
@import "_grid";

/*
================================================================================
|                                     FORMS                                    |
================================================================================
*/
@import "_forms";

/*
================================================================================
|                            GLOBAL HELPERS                                    |
================================================================================
*/
@import "_global";