html, body{
	overflow-x: hidden;
	min-height: 100%;
}
html{
	font-size: 15px;
}
body{
	min-width: 300px;
	position: relative;
}
*{
	box-sizing: border-box;
}
//Selection
*::selection{
	background-color: $color-main;
	color: #fff;
}
/*
================================================================================
|                                TYPOGRAPHY                                    |
================================================================================
*/
@import "_typo";
/*
================================================================================
|                                      GRID                                    |
================================================================================
*/
@import "_grid";

/*
================================================================================
|                                     FORMS                                    |
================================================================================
*/
@import "_forms";

/*
================================================================================
|                            GLOBAL HELPERS                                    |
================================================================================
*/
@import "_global";