// Fonts
$r-regular: "RobotoRegular", sans-serif;

$default-font: $r-regular;

// Sizes
$base-line: 1rem;
$font-size: 1rem;

// Colors
$dark: #414042;
$blue: #4bcaff;
$green: #91c46b;
$orange: #fd7c00;

$br: 8px;
$placeholder: #d3d3d3;




$default-transition: all .3s ease-out;
$long-transition: all 1s ease-out;
