html{
	font-size: 14px;
	line-height: 14px;
}
body {
	font-size: $font-size;
	line-height: $base-line;
}
body {
	font-family: $default-font;
	color: $color-text;
	background-color: $bg-color;
}

// Links
a {
	color: $color-link;
}
a:hover {
	color: $color-link-hover;
}

// Headings
h1, h2, h3, h4, h5, h6{
	font-family: $default-font;
	color: $color-headings;
	text-rendering: optimizeLegibility;

}
h1{
	font-size: $heading-font-size;
	line-height: $heading-base-line;
}
h2{
	font-size: $heading-font-size-2;
	line-height: $heading-base-line-2;
}
h3{
	font-size: $heading-font-size-3;
	line-height: $heading-base-line-3;
}

// Lists
ol ol li {
	list-style-type: lower-alpha;
}
ol ol ol li {
	list-style-type: lower-roman;
}
ul{
	list-style-type: none;
}

