.accordion{
	list-style: none;
	padding: 0;
}
.accordion__inner {
	padding-left: 1em;
	overflow: hidden;
	display: none;
}
.accordion__item{
	margin: .5em 0;
}
.accordion-item__toggle{
	width: 100%;
	display: block;
	background: rgba(0,0,0,0.78);
	color: #fefefe;
	padding: .75em;
	border-radius: 0.15em;
	transition: background .3s ease;
	&:hover {
		background: rgba(0, 0, 0, 0.9);
	}
}