<ul class="accordion">
	<li class="accordion__item">
		<a class="accordion-item__toggle" href="#">Item 1</a>
		<ul class="accordion__inner">
			<li class="accordion__item">Option 1</li>
			<li class="accordion__item">Option 2</li>
			<li class="accordion__item">Option 3</li>
		</ul>
	</li>
	<li class="accordion__item">
		<a class="accordion-item__toggle" href="#">Item 2</a>
		<ul class="accordion__inner">
			<li class="accordion__item">Option 1</li>
			<li class="accordion__item">Option 2</li>
			<li class="accordion__item">Option 3</li>
		</ul>
	</li>
	<li class="accordion__item">
		<a class="accordion-item__toggle" href="#">Item 3</a>
		<ul class="accordion__inner">
			<li class="accordion__item">
				<a href="#" class="accordion-item__toggle">Open Inner</a>
				<div class="accordion__inner">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus placerat fringilla. Duis a elit et dolor laoreet volutpat. Aliquam ultrices mauris id mattis imperdiet. Aenean cursus ultrices justo et varius. Suspendisse aliquam orci id dui dapibus
						blandit. In hac habitasse platea dictumst. Sed risus velit, pellentesque eu enim ac, ultricies pretium felis.
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<a href="#" class="accordion-item__toggle">Open Inner #2</a>
				<div class="accordion__inner">
					<p>
						Children will automatically close upon closing its parent.
					</p>
				</div>
			</li>
			<li class="accordion__item">Option 3</li>
		</ul>
	</li>
	<li class="accordion__item">
		<a class="accordion-item__toggle" href="#">Item 4</a>
		<ul class="accordion__inner">
			<li class="accordion__item">
				<a href="#" class="accordion-item__toggle">Technically any number of nested elements</a>
				<ul class="accordion__inner">
					<li class="accordion__item">
						<a href="#" class="accordion-item__toggle">Another nested element</a>
						<div class="accordion__inner">
							<p>
								As long as the inner element has inner as one of its classes then it will be toggled.
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus placerat fringilla. Duis a elit et dolor laoreet volutpat. Aliquam ultrices mauris id mattis imperdiet. Aenean cursus ultrices justo et varius. Suspendisse aliquam orci id dui dapibus
								blandit. In hac habitasse platea dictumst. Sed risus velit, pellentesque eu enim ac, ultricies pretium felis.
							</p>
						</div>
					</li>
				</ul>
			</li>
			<li class="accordion__item">Option 2</li>
			<li class="accordion__item">Option 3</li>
		</ul>
	</li class="accordion__item">
</ul>