<!-- 
	MAGNIFIC POPUP LINK - http://dimsemenov.com/plugins/magnific-popup/documentation.html
	ANIMATIONS FOR MAGNIFIC POPUP - https://codepen.io/dimsemenov/pen/GAIkt 
-->

<!-- 
	1) Inline Popup. 
-->

<!-- Button -->
<a href="#test-popup" class="open-popup-link">Show inline popup</a>
<!-- Modal Window -->
<div id="test-popup" class="white-popup mfp-hide mfp-with-anim">
  <h1>Lorem ipsum dolor sit amet.</h1>
</div>

<!-- 
	2) Gallery Popup.
-->

 <div class="gallery">
    <a href="img/test1.png">Open image 1 (gallery #1)</a>
    <a href="img/test2.png">Open image 2 (gallery #1)</a>
</div>

